@CHARSET "ISO-8859-1";
div1{
	text-align: center;
}
	
title{
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	width: 100%;
}
h1{
	text-align:center;
}

html {  
background-color: #63d8ff;
}

body {  
background-color: #63d8ff;  
width: 80%;  
margin-left: auto;  
margin-right: auto;
border-style: solid;
text-align: center;
}

.navigation ol {
padding: 0px 0px 0px 0px;
margin: 0px 0px 0px 0px;
}


.navigation {  
background-color: #47acff;  
padding: 0px 0px 0px 0px;  
width: 100%;  
display: table;
border-bottom-style: solid;
}

.navigation a:link {  
color: black;
}

.navigation a:visited {  
color: #63d8ff;
text-decoration: none;
}
.navigation li {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	float: left;
	width: 33.333333334%;
	}
	
.navigation li:hover {
	background-color: #63d8ff;
	}
.navigation2 ol {
padding: 0px 0px 0px 0px;
margin: 0px 0px 0px 0px;
}


.navigation2 {  
background-color: #63d8ff;  
padding: 0px 0px 0px 0px;  
width: 100%;  
display: table;
border-top-style: solid;
}

.navigation2 a:link {  
color: #ffffff;
}

.navigation2 a:visited {  
color: #ffff00;
text-decoration: none;
}
.navigation2 li1, li2, li3 {
	display: table-cell;
	background-color:#47acff;
	text-align: center;
	vertical-align: middle;
	float: left;
	width: 33.333333334%;
	}
	
.navigation2 li1:hover {
	background-color: #1d33f9;
	}
.navigation2 li2:hover {
	background-color: #ef1f1f;
	}
.navigation2 li3:hover {
	background-color: #38e4ff;
	}